<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\Header[统一规划全局数据定义 整体开发框架]-->
<body>
    <p>
        <b>统一规划全局数据定义</b>的目标是在<b>高性能</b>的基础上建立一个<b>全局可靠</b>、<b>关联关系可复用</b>、<b>自然符合需求</b>的数据访问体系，让应用层使用自然直接的方式访问数据，从而达到简化应用逻辑降低开发成本的目的。
        <br />假如没有物理存储概念，也就是说假如所有的数据都放在内存里面，那么这个目标对于具有<b>全局视角</b>与一定<b>数据结构与算法基础</b>的开发者而言是相对容易实现的；但现实环境中绝大多数数据都依赖于数据库或者其它物理存储设备。
    </p>
    <p>
        . <b>自然符合需求</b>
        <br />物理存储支持的数据类型有限、表达能力不足，无法满足自然的数据模型定义；<a href="/OrmCache/Index.html">ORM 内存索引缓存框架</a>支持多种自定义数据类型映射手段、提供模型与表格之间 1 对多的继承抽象支持。
    </p>
    <p>
        . <b>关联关系可复用</b>
        <br />依赖于物理存储的数据访问体系，其关联关系是难以复用的，比如 SQL 语句中的关联子查询在每一个相关需求中都必须重复一次实现，对于复杂需求开发成本与维护成本都比较高。
        <br />如果单纯在应用层实现关联关系的独立与复用，则会产生大量频繁的关联查询，从而导致性能灾难的发生；<a href="/OrmCache/Index.html">ORM 内存索引缓存框架</a>支持以缓存的形式处理关联查询问题，提供多种常用的缓存模式，支持自定义缓存数据结构。
    </p>
    <p>
        . <b>全局可靠</b>
        <br />传统的数据访问体系，无法对数据进行整体规划，数据访问接口与交互数据的定义基本都是为指定需求定制的，业务需求之间基本只能做到最基础的单个数据模型定义的公用。
        <br />AutoCSer 支持数据访问体系的整体规划，数据模型定义与数据关联关系定义都是确定的，对于已经存在的数据定义是全局可复用的，这样可以减少大量重复性的工作达到降低开发成本的目的。
        <br />有了确定可靠的全局数据定义，不仅可以提高服务端对于数据访问的开发效率，还可以降低前后端对于数据需求的沟通成本，对于已经存在的数据定义前端完全可以自主引用，对于不存在的数据定义只需要前端提交这个单点需求就可以了。
    </p>
    <p>
        . <b>高性能</b>
        <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a> 的几个核心组件，分可以是独立的高性能组件，合可以是实现<b>统一规划全局数据定义</b>的基础<b>整体开发框架</b>，这些组件在功能上都是不可缺少的组成部分。
        <br /><a href="/OrmCache/Index.html">ORM 内存索引缓存框架</a>是实现数据定义与访问的基础框架。
        <br /><a href="/TcpServer/MethodServer.html">TCP 函数服务框架</a>中支持实例调用链的<b>内部静态服务</b>是实现数据访问服务化的基础框架。
        <br /><a href="/WebView/Index.html">前后端一体 WEB 视图框架</a>中的 <a href="/WebView/View.html">WEB 视图页面</a>是全局数据定义的典型应用场景。
    </p>
</body>
<!--Include:Include\BaiduFoot-->
</html>