<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\Header[AutoCSer 首页]-->
<body>
    <div>
        <p><b class="AutoCSerClass" id="AutoCSerId" name="AutoCSerName" type="AutoCSerType">AutoCSer</b> 是一个以高效率为目标向导的<a href="/Global.html">服务端整体开发框架</a>。</p>
        <p>
            <b>1. 开发效率</b>
            <br />. 采用自动化编码方案，结合静态代码生成技术与运行时代码生成技术 Emit，为应用层降低“代码杂音”。
            <br />. AutoCSer 整个架构的核心设计目标是在高性能的基础上实现<b>统一规划全局数据定义</b>，几个主要基础组件无缝集成组合成一个高效率的<a href="/Global.html">整体开发框架</a>。
        </p>
        <p>
            <b>2. 运行效率</b>
            <br />提供高性能的基础组件，主要包括以下组件：
            <!--Include:Include\HighPerformance-->
            <br />以上测试环境为 Hyper-V + Windows 2012 虚拟机 + 4GB + .NET 4.5 ，物理机环境为 Win10 + i5 6400 + 8GB ，<b>不是在 VS 里调试运行</b>。
        </p>
        <p>. <a href="/Joke.html">茶余饭后</a>：在紧张激动愤怒的争吵之中、在冷静理性跳跃的思索之中、在轻快愉悦流畅的编码之中、在残忍无情绝望的调试之中。。。最终都将是多彩的记忆 - 逻辑无道。</p>
        <p>支持 .NET Standard / Core 2.0 ，支持 AOT（NoJIT） 模式</p>
        <p>Windows 下最低支持 .NET Framework 2.0 SP2</p>
        <p>Unbuntu / CentOS 下支持 MONO + .NET4.5</p>
        <p>支持基于 Xamarin.Forms 的 <a href="/Android/Index.html">Android</a> / IOS APP 开发，支持 Unity3D 开发</p>
    </div>

    <div><h1>下载 Download</h1></div>
    <div> <a href="https://github.com/AutoCSer/AutoCSer" target="_blank">GitHub</a> | <a href="https://www.nuget.org/packages/AutoCSer.DotNet4.5V/" target="_blank">.NET 4.5 NuGet</a> | <a href="https://www.nuget.org/packages/AutoCSer.NetStandard/" target="_blank">.Net Standard 2.0 NuGet</a> | <a href="/Log.html">更新日志</a> | <a href="//__STATICDOMAIN__/Download/AutoCSer.Example.zip?__VERSIONNAME__=__VERSION__" target="_blank">下载 AutoCSer.zip</a></div>
    <div>
        <p>. <b>AutoCSer</b> 项目是核心程序集，主要包括 <a href="/TcpServer/InterfaceServer.html">TCP 接口服务框架</a>、<a href="/TcpServer/MethodServer.html">TCP 函数服务框架</a>、<a href="/TcpServer/RemoteExpression.html">远程表达式链组件</a>、<a href="/TcpServer/Register.html">TCP 内部服务注册组件</a> 与 <a href="/Serialize/Binary.html">二进制</a> / <a href="/Serialize/Json.html">JSON</a> / <a href="/Serialize/Xml.html">XML</a> 数据序列化组件。</p>
        <p>. <b>AutoCSer.CodeGenerator</b> 项目用于<a href="/CodeGenerator.html">静态代码生成</a>，<a href="/TcpServer/MethodServer.html">TCP 函数服务框架</a>、<a href="/WebView/Index.html">前后端一体 WEB 视图框架</a>、<a href="/OrmCache/Index.html">ORM 内存索引缓存框架</a> 这些组件都依赖于它。</p>
        <p>. <b>AutoCSer.WebView</b> 项目主要包括 <a href="/WebView/Index.html">前后端一体 WEB 视图框架</a> 与 可嵌入的 <a href="/WebView/HttpServer.html">HTTP 服务器</a>。<b>\AutoCSer\Js\</b> 目录中包含 WEB 框架依赖的配套<a href="/WebView/Script.html">基础脚本类库</a>和一些我个人常用的其它脚本类库。</p>
        <p>. <b>AutoCSer.CacheServer</b> 项目是一个支持日志流持久化的<a href="/CacheServer/Index.html">内存数据库缓存服务组件</a>，内置一个<a href="/CacheServer/MessageQueue.html">消息队列组件</a>，示例项目是 AutoCSer.Example.CacheServer ，性能测试项目是 AutoCSer.TestCase.CacheServerPerformance / AutoCSer.TestCase.CacheClientPerformance 。</p>
        <p>. <b>AutoCSer.Sql</b> 项目主要包括 <a href="/OrmCache/Index.html">ORM 内存索引缓存框架</a>，暂时<b>不支持 .NET Framework 2.0 </b>，<b>AutoCSer.MySql</b> 是对 MySQL 的支持项目。</p>
        <p>. <b>AutoCSer.Sort</b> 项目主要包括一些排序相关的算法实现，相关性能测试项目包括 AutoCSer.TestCase.RadixSortPerformance / AutoCSer.TestCase.SearchTree 。</p>
        <p>. <b>AutoCSer.TcpStreamServer</b> 项目包括 <a href="/TcpServer/InterfaceStreamServer.html">TCP 接口应答流服务框架</a> 与 <a href="/TcpServer/MethodStreamServer.html">TCP 函数应答流服务框架</a>，服务端只支持单线程队列模式，在简单吞吐测试中 <a href="/TcpServer/MethodStreamServer.html">TCP 函数应答流服务框架</a> 比通用型的 <a href="/TcpServer/MethodServer.html">TCP 函数服务框架</a> 表现要稍微好一点。</p>
        <p>. <b>AutoCSer.TcpSimpleServer</b> 项目包括 <a href="/TcpServer/SimpleInterfaceServer.html">TCP 接口同步应答服务框架</a> 与 <a href="/TcpServer/SimpleMethodServer.html">TCP 函数同步应答服务框架</a>，只支持同步应答模式。</p>
        <p>. <b>Serialize</b> 目录下的 AutoCSer.Serialize / AutoCSer.Json / AutoCSer.Xml / AutoCSer.BinarySerialize 项目是为序列化单独提供的类库，它们不依赖于 AutoCSer.dll 。</p>
        <p><b>AutoCSer.Deploy</b> 项目是一个发布工具，参考 <b>Web\DeployServer\AutoCSer.Web.DeployServer.DotNet2.csproj</b> 与 <b>Web\DeployClient\AutoCSer.Web.DeployClient.DotNet2.csproj</b> 。</p>
        <p><b>AutoCSer.DeployService</b> 项目是一个简单的 Windows 服务工具，主要用于发布工具的启动操作兼容 Windows 服务。</p>
        <p><b>AutoCSer.DiskBlock</b> 项目是一个日志型磁盘数据块服务，在 AutoCSer.TestCase 项目中有简单的示例。</p>
        <p><b>AutoCSer.Drawing.Gif</b> 项目是一个 GIF 文件处理类库，测试项目是 AutoCSer.TestCase.GifScreen 。</p>
        <p><b>AutoCSer.Search</b> 项目是一个模糊匹配搜索组件，示例项目是 AutoCSer.Example.Search ，实例项目参考 AutoCSer.Web.SearchServer [<a href="/Search.html?#!Key=AutoCSer" target="_blank">AutoCSer</a>]。</p>
        <p><b>AutoCSer.HtmlNode</b> 项目是一个 HTML 解析组件，示例项目是 AutoCSer.Example.HtmlNode 。</p>
        <p><b>AutoCSer.HtmlTitle</b> 项目是一个简单的 HTML 标题获取 HTTP 客户端组件，示例项目是 AutoCSer.Example.HtmlTitle 。</p>
        <p><b>AutoCSer.DataSetSerialize</b> 项目是一个简单的 DataSet 二进制序列化包装组件。</p>
        <p><b>AutoCSer.RawSocketListener</b> 项目是一个基于原始套接字混杂监听模式的网络数据监听组件，示例项目是 AutoCSer.Example.RawSocketListener 。</p>
        <p><b>AutoCSer.Expand</b> 项目是一个杂乱小工具整合项目。</p>
        <p><b>AutoCSer.RandomObject / AutoCSer.FieldEquals</b> 项目用于在测试中生成对象的随机数据与判断两个对象数据是否一致。</p>
        <p><b>\AutoCSer\OpenAPI\</b> 目录中是一些简单的第三方 API 调用类库项目。</p>
        <p><b>\Example\</b> 目录中包含各种简单的 DEMO 示例，由于 VS 2017 并发编译存在 BUG 可能造成 .NET Core 项目编译错误可以尝试单独编译这些出错的项目。</p>
        <p><b>\TestCase\</b> 目录中包含各种简单的测试用例。</p>
        <p><b>\Web\</b> 目录是当前网站的源代码，<b>AutoCSer.Example.DotNet2.sln</b> 可以作为 <a href="/TcpServer/MethodServer.html">TCP 函数服务框架</a> 与 <a href="/WebView/Index.html">前后端一体 WEB 视图框架</a> 简单的综合性参考。</p>
        <p>DotNet2 与 DotNet4 需要 VS2010 或以上版本，DotNet4.5 需要 VS2015 或以上版本，NetCore 需要 VS2017 或以上版本。因为我个人习惯使用 Release 模式编译项目，<b>如果您在 Debug 编译模式遇到编译错误问题，请切换到 Release 编译模式重试</b>，并将这个问题反馈给我。</p>
        <p>有问题或建议可以在 <a href="http://jq.qq.com/?_wv=1027&k=2HbDxVX" target="_blank">QQ 群 275679001</a>（旧群 4777880 暂时无法加人）或者 <a href="http://wpa.qq.com/msgrd?v=3&uin=472179624&site=qq&menu=yes" target="_blank">QQ</a> 上联系我。</p>
    </div>
    <!--Include:Include\51Nod-->
    <div>
        <center><a href="http://www.miibeian.gov.cn/" target="_blank">湘ICP备17011343号-1</a></center>
    </div>
</body>
<!--Include:Include\BaiduFoot-->
</html>