<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\Header[AutoCSer 更新记录]-->
<body>
    <div>
        <b>1.1.28</b>
        <br />. <a href="/TcpServer/RemoteExpression.html">远程表达式链</a>支持泛型节点实例化，解决泛型节点断链需要开发者手动转换表达式类型的问题
        <br />. 修复 <a href="/TcpServer/MethodServer.html">TCP 函数</a>没有返回值无法生成异步客户端代理的 BUG
        <br />. 修复 <a href="/TcpServer/InterfaceStreamServer.html">TCP 接口应答流服务框架</a> 与 <a href="/TcpServer/MethodStreamServer.html">TCP 函数应答流服务框架</a> 客户端启用压缩时压缩数据处理的 BUG
        <br />. <a href="/OrmCache/Index.html">ORM</a> 添加表格缓存扩展成员的申明与自动识别功能，减少主缓存手工初始化的需求；添加程序级事务队列任务；添加简单的日志流回调组件；缓存组件增加若干 API
        <br />. 修复 <a href="/Serialize/Binary.html">二进制序列化</a>真实类型处理的 BUG
    </div>
</body>
<!--Include:Include\BaiduFoot-->
</html>