<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\LoadHeader[,二进制数据序列化]-->
<body>
    <p>AutoCSer 的二进制数据序列化是一种通用的高性能数据序列化组件，支持若干<a href="/Config/Index.html">全局默认配置</a>，支持 31 种常用数据类型组合的随机对象 <a href="/Serialize/Performance.html">单线程 200W+/s 数据序列化</a> 操作，需要引用 <a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\Packet\*\AutoCSer.dll。</p>
    <p>
        . 默认支持循环引用，由于循环引用支持需要消耗一定的资源，对于确定不会产生循环引用的数据类型可以手动配置禁用支持（此配置只对数据根节点有效）。
        <br />循环引用支持也不是一定会降低序列化性能，比如某个大对象被多次引用（非循环引用），如果禁用循环引用支持那么对象将被多次序列化，反序列化以后也不再是同一个对象引用。
        <!--Include:Include\GetCode[Example,0,循环引用支持,BinarySerialize\Reference.cs]-->
        <!--Include:Include\GetCode[Example,1,禁用循环引用,BinarySerialize\DisabledReference.cs]-->
    </p>
    <p>
        . 支持成员选择配置，默认选择所有可见的非匿名字段成员。由于 AutoCSer 在整体结构规划中，字段用于描述数据，属性用于描述计算行为，所以在二进制序列化中默认不支持属性。
        <!--Include:Include\GetCode[Example,2,仅选择公共字段成员,BinarySerialize\PublicInstanceField.cs]-->
        <!--Include:Include\GetCode[Example,b,支持匿名类型序列化,BinarySerialize\AnonymousType.cs]-->
        <!--Include:Include\GetCode[Example,3,匿名字段绑定属性支持,BinarySerialize\Property.cs]-->
        <!--Include:Include\GetCode[Example,4,忽略成员,BinarySerialize\IgnoreMember.cs]-->
    </p>
    <p>
        . 除了成员选择配置，还默认支持临时性的成员位图选择序列化成员。由于成员位图选择支持需要消耗一定的资源，可以手动配置禁用临时性的成员选择。
        <br />成员位图选择仅对数据根节点有效，如果需要在子节点中支持成员位图选择，需要自定义成员位图数据对象。
        <!--Include:Include\GetCode[Example,5,成员位图选择,BinarySerialize\MemberMap.cs]-->
        <!--Include:Include\GetCode[Example,6,禁用成员位图,BinarySerialize\DisabledMemberMap.cs]-->
        <!--Include:Include\GetCode[Example,7,成员位图数据对象,BinarySerialize\MemberMapValue.cs]-->
    </p>
    <p>
        . 为了方便数据类型的抽象重用，默认支持数据基类配置入侵数据派生类型，也就是该数据基类的所有派生类型的序列化处理都默认当成该数据基类处理。
        <!--Include:Include\GetCode[Example,8,,BinarySerialize\BaseType.cs]-->
    </p>
    <p>
        . 由于安全问题，默认不支持抽象类型与接口类型的序列化操作，可配置支持转换为该对象的真实类型序列化。
        <!--Include:Include\GetCode[Example,c,,BinarySerialize\RealType.cs]-->
    </p>
    <p>
        . 支持全局版本更新，用于反序列化兼容数据定义的变化。
        <!--Include:Include\GetCode[Example,d,,BinarySerialize\GlobalVersion.cs]-->
    </p>
    <p>
        . 当全局版本更新无法解决数据定义更新的兼容问题时，可以选择支持 <a href="/Serialize/Json.html">Json 序列化</a>扩展。
        <!--Include:Include\GetCode[Example,9,,BinarySerialize\Json.cs]-->
    </p>
    <p>
        . 支持自定义序列化函数，对于引用类型必须是静态函数，对于值类型必须是成员函数，必须同时定义序列化与反序列化两个函数并自行保证序列化数据的可逆性。
        <!--Include:Include\GetCode[Example,a,引用类型,BinarySerialize\CustomClass.cs]-->
        <!--Include:Include\GetCode[Example,e,值类型,BinarySerialize\CustomStruct.cs]-->
    </p>
</body>
</html>