<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\LoadHeader[,TCP 函数应答流服务框架]-->
<body>
    <p>
        高性能的 TCP 应答流服务框架是 AutoCSer 的核心组件，支持若干<a href="/Config/Index.html">全局默认配置</a>，需要引用 <a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\Packet\*\AutoCSer.dll + AutoCSer.TcpStreamServer.dll。
        <br />我认为 TCP 服务的本质就是远程函数调用，所以 AutoCSer 的 TCP 服务设计是基于函数原型定义的，目标是让远程函数调用和本地函数调用一样简单，并尽可能的保留常用的本地函数特性，<b>不支持服务端异步回调</b>。
        <!--Include:Include\InternalOpenDifference-->
    </p>
    <div><h1>内部静态服务</h1></div>
    <div>
        <!--Include:Include\TcpStaticServer[Stream]-->
        <p>
            . 支持函数成员选择配置，默认选择其它程序集不可见函数成员，而且必须申明 TCP 远程函数配置 <b>[AutoCSer.Net.TcpStaticStreamServer.Method]</b>
            <!--Include:Include\GetCode[Example,0,无需 TCP 远程函数申明配置,TcpStaticStreamServer\NoAttribute.cs]-->
            <!--Include:Include\GetCode[Example,1,公共函数支持,TcpStaticStreamServer\Static.cs]-->
        </p>
        <p>
            . 支持静态字段与可读静态属性，默认支持取值操作，不支持赋值操作
            <!--Include:Include\GetCode[Example,2,字段支持,TcpStaticStreamServer\Field.cs]-->
            <!--Include:Include\GetCode[Example,3,可读属性支持,TcpStaticStreamServer\Property.cs]-->
        </p>
        <p>
            . 支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,4,,TcpStaticStreamServer\RefOut.cs]-->
        </p>
        <p>
            . 支持客户端异步模式，不支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,5,,TcpStaticStreamServer\ClientAsynchronous.cs]-->
            <br />在 .NET 4.5 环境下支持 async Task / await，await 不支持 ref / out 参数，.NET 2.0 / .NET 4.0 环境中采用同步模拟兼容实现。
            <!--Include:Include\GetCode[Example,q,,TcpStaticStreamServer\ClientTaskAsync.cs]-->
        </p>
        <p>
            . 对于没有返回值且可靠性要求不高的需求，支持仅发送请求模式（无需服务端响应），返回值类型必须为 void，不支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,6,,TcpStaticStreamServer\SendOnly.cs]-->
        </p>
        <p>
            . 集成支持<a href="/TcpServer/RemoteExpression.html">远程表达式链</a>
            <!--Include:Include\GetCode[Example,p,,TcpStaticStreamServer\Expression.cs]-->
        </p>
        <!--Include:Include\SimpleSerialize-->
        <p>
            由于 <b>内部静态服务</b> 与 <b>内部实例服务</b> 对于性能影响的区别仅仅在于静态函数与实例函数调用的差别，不存在本质性的差别，所以性能测试项目请参考 <b>内部实例服务</b>。
        </p>
    </div>
    <div><h1>内部实例服务</h1></div>
    <div>
        <!--Include:Include\TcpInternalServer[Stream]-->
        <p>
            . 支持函数成员选择配置，默认选择其它程序集不可见函数成员，而且必须申明 TCP 远程函数配置 <b>[AutoCSer.Net.TcpServer.Method]</b>
            <!--Include:Include\GetCode[Example,9,无需 TCP 远程函数申明配置,TcpInternalStreamServer\NoAttribute.cs]-->
            <!--Include:Include\GetCode[Example,a,公共函数支持,TcpInternalStreamServer\Static.cs]-->
        </p>
        <p>
            . 支持静态字段与可读静态属性，默认支持取值操作，不支持赋值操作
            <!--Include:Include\GetCode[Example,b,字段支持,TcpInternalStreamServer\Field.cs]-->
            <!--Include:Include\GetCode[Example,c,可读属性支持,TcpInternalStreamServer\Property.cs]-->
        </p>
        <p>
            . 支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,d,,TcpInternalStreamServer\RefOut.cs]-->
        </p>
        <p>
            . 支持客户端异步模式，不支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,e,,TcpInternalStreamServer\ClientAsynchronous.cs]-->
            <br />在 .NET 4.5 环境下支持 async Task / await，await 不支持 ref / out 参数，.NET 2.0 / .NET 4.0 环境中采用同步模拟兼容实现。
            <!--Include:Include\GetCode[Example,r,,TcpInternalStreamServer\ClientTaskAsync.cs]-->
        </p>
        <p>
            . 对于没有返回值且可靠性要求不高的需求，支持仅发送请求模式（无需服务端响应），返回值类型必须为 void，不支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,f,,TcpInternalStreamServer\SendOnly.cs]-->
        </p>
        <p>
            . 集成支持<a href="/TcpServer/RemoteExpression.html">远程表达式链</a>
            <!--Include:Include\GetCode[Example,q,,TcpInternalStreamServer\Expression.cs]-->
        </p>
        <!--Include:Include\SimpleSerialize-->
        <p>
            性能测试项目
            <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\TestCase\TcpStreamServerPerformance\AutoCSer.TestCase.TcpInternalStreamServerPerformance
            <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\TestCase\TcpStreamClientPerformance\AutoCSer.TestCase.TcpInternalStreamClientPerformance
            <br /><img src="//__STATICDOMAIN__/TcpServer/MethodStreamServer.png" alt="TCP 函数应答流服务框架 内部服务 吞吐性能测试" />
            <br /><img src="//__STATICDOMAIN__/TcpServer/MethodStreamServer.Core.png" alt=".NET Core TCP 函数应答流服务框架 内部服务 吞吐性能测试" />
            <br />从测试结果看来 .NET Core 的吞吐性能有一些提升，特别是对于 await 模式竟然有 1 倍以上的提升。
        </p>
    </div>
    <div><h1>开放服务</h1></div>
    <div>
        <!--Include:Include\TcpOpenServer[Stream]-->
        <p>
            . 支持函数成员选择配置，默认选择其它程序集不可见函数成员，而且必须申明 TCP 远程函数配置 <b>[AutoCSer.Net.TcpServer.Method]</b>
            <!--Include:Include\GetCode[Example,i,无需 TCP 远程函数申明配置,TcpOpenStreamServer\NoAttribute.cs]-->
            <!--Include:Include\GetCode[Example,j,公共函数支持,TcpOpenStreamServer\Static.cs]-->
        </p>
        <p>
            . 支持静态字段与可读静态属性，默认支持取值操作，不支持赋值操作
            <!--Include:Include\GetCode[Example,k,字段支持,TcpOpenStreamServer\Field.cs]-->
            <!--Include:Include\GetCode[Example,l,可读属性支持,TcpOpenStreamServer\Property.cs]-->
        </p>
        <p>
            . 支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,m,,TcpOpenStreamServer\RefOut.cs]-->
        </p>
        <p>
            . 支持客户端异步模式，不支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,n,,TcpOpenStreamServer\ClientAsynchronous.cs]-->
            <br />在 .NET 4.5 环境下支持 async / await，不支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,s,,TcpOpenStreamServer\ClientTaskAsync.cs]-->
        </p>
        <p>
            . 对于没有返回值且可靠性要求不高的需求，支持仅发送请求模式（无需服务端响应），返回值类型必须为 void，不支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,o,,TcpOpenStreamServer\SendOnly.cs]-->
        </p>
        <p>
            . 集成支持<a href="/TcpServer/RemoteExpression.html">远程表达式链</a>
            <!--Include:Include\GetCode[Example,r,,TcpOpenStreamServer\Expression.cs]-->
        </p>
        <!--Include:Include\SimpleSerialize-->
        <p>
            性能测试项目
            <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\TestCase\TcpStreamServerPerformance\AutoCSer.TestCase.TcpOpenStreamServerPerformance
            <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\TestCase\TcpStreamClientPerformance\AutoCSer.TestCase.TcpOpenStreamClientPerformance
            <br /><img src="//__STATICDOMAIN__/TcpServer/MethodOpenStreamServer.png" alt="TCP 函数应答流服务框架 开放服务 吞吐性能测试" />
            <br /><img src="//__STATICDOMAIN__/TcpServer/MethodOpenStreamServer.Core.png" alt=".NET Core TCP 函数应答流服务框架 开放服务 吞吐性能测试" />
        </p>
    </div>
</body>
</html>