<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\LoadHeader[,TCP 接口同步应答服务框架]-->
<body>
    <p>
        高性能的 TCP 服务框架是 AutoCSer 的核心组件，支持若干<a href="/Config/Index.html">全局默认配置</a>，需要引用 <a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\Packet\*\AutoCSer.dll + AutoCSer.TcpSimpleServer.dll。
        <br />TCP 接口同步应答服务基于 Emit 动态生成代理类型，相对于使用<a href="/CodeGenerator.html">静态代码生成</a>的 <a href="/TcpServer/SimpleMethodServer.html">TCP 函数同步应答服务框架</a>上手简单，但功能支持相对简单，<b>服务端仅支持同步模式</b>。
        <!--Include:Include\InterfaceInternalOpenDifference-->
    </p>
    <div><h1>内部服务</h1></div>
    <div>
        <p>
            . 同步函数支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,0,,TcpInterfaceSimpleServer\RefOut.cs]-->
        </p>
        <p>
            . 支持接口继承与显示接口实现
            <!--Include:Include\GetCode[Example,1,,TcpInterfaceSimpleServer\Inherit.cs]-->
        </p>
        <p>
            . 集成支持<a href="/TcpServer/RemoteExpression.html">远程表达式链</a>
            <!--Include:Include\GetCode[Example,3,,TcpInterfaceSimpleServer\Expression.cs]-->
        </p>
        <!--Include:Include\SimpleSerialize-->
        <p>
            性能测试项目
            <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\TestCase\TcpServerSimplePerformance\AutoCSer.TestCase.TcpInternalSimpleServerPerformance.Emit
            <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\TestCase\TcpClientSimplePerformance\AutoCSer.TestCase.TcpInternalSimpleClientPerformance.Emit
            <br /><img src="//__STATICDOMAIN__/TcpServer/SimpleInterfaceServer.png" alt="TCP 接口同步应答服务框架 内部服务 吞吐性能测试" />
        </p>
    </div>
    <div><h1>开放服务</h1></div>
    <div>
        <p>
            . 同步函数支持 ref / out 参数。
            <!--Include:Include\GetCode[Example,2,,TcpInterfaceOpenSimpleServer\RefOut.cs]-->
        </p>
        <p>
            . 支持接口继承与显示接口实现
            <!--Include:Include\GetCode[Example,4,,TcpInterfaceOpenSimpleServer\Inherit.cs]-->
        </p>
        <p>
            . 集成支持<a href="/TcpServer/RemoteExpression.html">远程表达式链</a>
            <!--Include:Include\GetCode[Example,5,,TcpInterfaceOpenSimpleServer\Expression.cs]-->
        </p>
        <!--Include:Include\SimpleSerialize-->
        <p>
            性能测试项目
            <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\TestCase\TcpServerSimplePerformance\AutoCSer.TestCase.TcpOpenSimpleServerPerformance.Emit
            <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\TestCase\TcpClientSimplePerformance\AutoCSer.TestCase.TcpOpenSimpleClientPerformance.Emit
            <br /><img src="//__STATICDOMAIN__/TcpServer/SimpleInterfaceOpenServer.png" alt="TCP 接口同步应答服务框架 开放服务 吞吐性能测试" />
        </p>
    </div>
</body>
</html>