<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\Header[,示例测试]-->
<body>
    <p>
        <b>HTTP 调用函数 示例测试</b>
        <br /><a href="/Call/Add?left=1&right=2">参数解析</a>
        <br /><a href="/CallAsynchronous/Add?left=2&right=3">异步模式</a>
        <br /><a href="/File/Download">文件输出</a>
        <br /><a href="/CallNameAdd?left=3&right=5">自定义 URL 调用</a>
        <br /><a href="/Location/Index">URL 重定向</a>
    </p>
    <p>
        <b>预定义符号 示例测试</b>
        <br /><a href="/Symbol/Version.html">网站更新版本号</a>
        <br /><a href="/Symbol/MainDomain.html">默认主域名</a>
        <br /><a href="/Symbol/ReView.html">重新加载视图标识</a>
        <br /><a href="/Symbol/AjaxReturn.html">AJAX 回调</a>
    </p>
    <p>
        <b>HTML 模板 示例测试</b>
        <br /><a href="/Template/Include.html">引用控件模板</a>
        <br /><a href="/Template/Value.html">数据作用域</a>
        <br /><a href="/Template/Loop.html">循环数据作用域</a>
        <br /><a href="/Template/If.html">逻辑值表达式条件判定</a>
        <br /><a href="/Template/Client.html">客户端模板</a>
        <br /><a href="/Template/NoMark.html">禁止输出范围标识</a>
        <br /><a href="/Template/Expression.html">数据值表达式</a>
    </p>
    <p>
        <b>WEB 视图 示例测试</b>
        <br /><a href="/LoadView.html">无参初始化</a>
        <br /><a href="/LoadViewQuery.html?left=5&right=8">带参数初始化</a>
        <br /><a href="/LoadViewQueryName.html?left=8&right=13">指定查询参数名称</a>
        <br /><a href="/ViewAsynchronous.html?left=13&right=21">异步输出</a>
    </p>
    <p>
        <b>脚本库 示例测试</b>
        <br /><a href="/Script/Skins.html">命名模板</a>
    </p>
</body>
</html>