<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\LoadHeader[,日志型内存数据库缓存服务组件]-->
<body>
    <p>
        AutoCSer 包含一个高性能日志型内存数据库缓存服务组件，支持若干<a href="/Config/Index.html">全局默认配置</a>，需要引用 <a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\Packet\*\AutoCSer.dll + AutoCSer.Sort.dll + AutoCSer.CacheServer.dll 。
    </p>
    <div><h1>基本数据类型</h1></div>
    <div>
        <p>
            . <b>AutoCSer.CacheServer.DataStructure.Value.Value</b>&lt;valueType&gt;
            <br /> <b>valueType</b> 支持 <b>bool</b>, <b>byte</b>, <b>sbyte</b>, <b>short</b>, <b>ushort</b>, <b>int</b>, <b>uint</b>, <b>long</b>, <b>ulong</b>, <b>float</b>, <b>double</b>, <b>decimal</b>, <b>char</b>, <b>DateTime</b>, <b>Guid</b>, <b>string</b>, <b>byte[]</b>
        </p>
        <p>
            . <b>AutoCSer.CacheServer.DataStructure.Value.Json</b>&lt;valueType&gt;
            <br />JSON 序列化包装类型
        </p>
        <p>
            . <b>AutoCSer.CacheServer.DataStructure.Value.Binary</b>&lt;valueType&gt;
            <br />二进制序列化包装类型
        </p>
        <p>
            . <b>关键字类型</b>必须为 <b>byte</b>, <b>sbyte</b>, <b>short</b>, <b>ushort</b>, <b>int</b>, <b>uint</b>, <b>long</b>, <b>ulong</b>, <b>float</b>, <b>double</b>, <b>decimal</b>, <b>char</b>, <b>DateTime</b>, <b>string</b>, <b>Guid</b>
            <br />其中 <b>Guid</b> 为不可排序类型
        </p>
    </div>
    <div><h1>数据节点</h1></div>
    <div>
        <p>
            . 数组 <b>AutoCSer.CacheServer.DataStructure.ValueArray</b>&lt;nodeType&gt; / <b>AutoCSer.CacheServer.DataStructure.ValueFragmentArray</b>&lt;nodeType&gt;
            <br /> <b>nodeType</b> 为 <b>基本数据类型</b>
            <!--Include:Include\GetCode[Example,0,,CacheServer\ValueArray.cs]-->
        </p>
        <p>
            . 字典 <b>AutoCSer.CacheServer.DataStructure.ValueDictionary</b>&lt;keyType, nodeType&gt; / <b>AutoCSer.CacheServer.DataStructure.ValueFragmentDictionary</b>&lt;keyType, nodeType&gt;
            <br /> <b>keyType</b> 为 <b>关键字类型</b>，<b>nodeType</b> 为 <b>基本数据类型</b>
            <!--Include:Include\GetCode[Example,1,,CacheServer\ValueDictionary.cs]-->
        </p>
        <p>
            . 搜索树字典 <b>AutoCSer.CacheServer.DataStructure.ValueSearchTreeDictionary</b>&lt;keyType, nodeType&gt;
            <br /> <b>keyType</b> 为 <b>排序关键字类型</b>，<b>nodeType</b> 为 <b>基本数据类型</b>
            <!--Include:Include\GetCode[Example,2,,CacheServer\ValueSearchTreeDictionary.cs]-->
        </p>
        <p>
            . 哈希表 <b>AutoCSer.CacheServer.DataStructure.HashSet</b>&lt;valueType&gt; / <b>AutoCSer.CacheServer.DataStructure.FragmentHashSet</b>&lt;valueType&gt;
            <br /> <b>valueType</b> 为 <b>关键字类型</b>
            <!--Include:Include\GetCode[Example,3,,CacheServer\HashSet.cs]-->
        </p>
        <p>
            . 链表 <b>AutoCSer.CacheServer.DataStructure.Link</b>&lt;nodeType&gt;
            <br /> <b>nodeType</b> 为 <b>基本数据类型</b>
            <!--Include:Include\GetCode[Example,4,,CacheServer\Link.cs]-->
        </p>
    </div>
    <div><h1>嵌套节点</h1></div>
    <div>
        <p>
            . 数组 <b>AutoCSer.CacheServer.DataStructure.Array</b>&lt;nodeType&gt; / <b>AutoCSer.CacheServer.DataStructure.FragmentArray</b>&lt;nodeType&gt;
            <br /> <b>nodeType</b> 为 <b>嵌套节点</b> 或者 <b>数据节点</b>
            <!--Include:Include\GetCode[Example,5,,CacheServer\Array.cs]-->
        </p>
        <p>
            . 字典 <b>AutoCSer.CacheServer.DataStructure.Dictionary</b>&lt;keyType, nodeType&gt; / <b>AutoCSer.CacheServer.DataStructure.FragmentDictionary</b>&lt;keyType, nodeType&gt;
            <br /> <b>keyType</b> 为 <b>关键字类型</b>，<b>nodeType</b> 为 <b>嵌套节点</b> 或者 <b>数据节点</b>
            <!--Include:Include\GetCode[Example,6,,CacheServer\Dictionary.cs]-->
        </p>
        <p>
            . 搜索树字典 <b>AutoCSer.CacheServer.DataStructure.SearchTreeDictionary</b>&lt;keyType, nodeType&gt;
            <br /> <b>keyType</b> 为 <b>排序关键字类型</b>，<b>nodeType</b> 为 <b>嵌套节点</b> 或者 <b>数据节点</b>
            <!--Include:Include\GetCode[Example,7,,CacheServer\SearchTreeDictionary.cs]-->
        </p>
    </div>
    <div>
        <p>
            性能测试项目
            <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\TestCase\CacheServerPerformance\AutoCSer.TestCase.CacheServerPerformance
            <br /><a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\TestCase\CacheClientPerformance\AutoCSer.TestCase.CacheClientPerformance
        </p>
    </div>
</body>
</html>