<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\LoadHeader[,消息队列组件]-->
<body>
    <p>
        AutoCSer 包含一个高性能的基于<a href="/CacheServer/Index.html">内存数据库缓存服务</a>的消息队列组件，采用独立于缓存服务的持久化方案保证数据的写入确认，支持若干<a href="/Config/Index.html">全局默认配置</a>，需要引用 <a href="/Index.html" title="Go to the home page to download">AutoCSer</a>\Packet\*\AutoCSer.dll + AutoCSer.Sort.dll + AutoCSer.CacheServer.dll 。
    </p>
    <div><h1>单消费者队列</h1></div>
    <div>
        <p>
            . <b>AutoCSer.CacheServer.DataStructure.MessageQueue.QueueConsumer</b>&lt;valueType&gt;
            <br />只允许一个消费者，当有新的消费者产生时将抛弃旧的消费者。
            <!--Include:Include\GetCode[Example,0,,CacheServer\MesssageQueueConsumer.cs]-->
        </p>
    </div>
    <div><h1>多消费者队列</h1></div>
    <div>
        <p>
            . <b>AutoCSer.CacheServer.DataStructure.MessageQueue.QueueConsumers</b>&lt;valueType&gt;
            <br />允许最多 65536 个消费者，使用数字编号 0 - 65535，实际应用中最好使用 enum 来避免魔鬼数字问题，每个编号的消费者都将顺序处理所有消息。
            <br />对于同一个编号，当有新的消费者产生时将抛弃旧的消费者。
            <!--Include:Include\GetCode[Example,1,,CacheServer\MesssageQueueConsumers.cs]-->
        </p>
    </div>
</body>
</html>