<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\Header[Page,HTML 模板 客户端模板]-->
<body>
    <div>
        服务端数据 : =@@ServerData.Value
    </div>
    <!--Value:ServerData.Value-->
    <div>
        服务端数据 : =@@
    </div>
    <!--Value:ServerData.Value-->
    <!--Value:ServerData-->
    <div>
        服务端数据 : =@@Value
        <br />回溯数据 : =@@.Value
    </div>
    <!--Value:ServerData-->
    <div>
        客户端数据 : =@@#ClientData
    </div>
</body>
</html>