<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--Include:Include\Header[Page,HTML 模板 逻辑值表达式条件判定]-->
<body>
    <!--If:True-->
    <div>逻辑真值</div>
    <!--If:True-->
    <!--If:!False-->
    <div>长度为 0 的字符串返回 false，前置 ! 表示取反</div>
    <!--If:!False-->
    <!--If:True|False-->
    <div>任意一个逻辑真值输出</div>
    <!--If:True|False-->
    <!--If:!True&False-->
    <div>If:!True&False 等价于 If:True|False</div>
    <!--If:!True&False-->
    <!--If:String=ABC-->
    <div>String == ABC</div>
    <!--If:String=ABC-->
    <!--If:!String=DEF-->
    <div>String != DEF</div>
    <!--If:!String=DEF-->
</body>
</html>